
<div class="main">

    <!-- <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Roll No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Class</th>
            <th>Action</th>
        </tr>
        <tbody>
            <tr *ngFor="let data of students | filter:'Name':search;let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.RollNumber}}</td>
                <td style="width: 20%">{{data.Name}}</td>
                <td style="width: 20%">{{data.Email}}</td>
                <td style="width: 20%">{{data.Mobile}}</td>
                <td>{{data.Class}} </td>
                <td>
                    <button class="btn btn-info btn-sm mr-1" (click)="onEdit(data,i)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table> -->

  <div class="logi">
    <h3>Class Details</h3>
    <input type="text" class="form-control m-3" style="width: 30%; float:left;" 
    [(ngModel)]="search" placeholder="Type to search student">
    <button class="btn btn-primary m-3" 
    style="float: right;"
    (click)="openModal()">Add New Class
  </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ClassName</th>
         
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of classList; let index=index">
          <th scope="row">{{index+1}}</th>
          <td>{{data.ClassName}}</td>
         
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit</button> -->
         <td> <button type="button" class="btn btn-primary btn-sm m-1"  
          (click)="onEdit(data,index)">Edit
        </button>
        <button type="button" class="btn btn-danger btn-sm m-1" (click)="onDelete(data.ID)">Delete
        </button>
        </td>
        </tr>
        
      </tbody>
    </table>
    <button class="btn btn-danger btn-sm" 
    style="float:right;" 
    (click)="clickk()">Exit
  </button>
  </div>

  <div class="modal fade" 
  id="addClassModal" 
  data-backdrop="static" 
  role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" 
          id="exampleModalLabel">Add Class</h5>
          <button type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="Classform" (ngSubmit)="onAddClass()">
  
        <div class="modal-body table-bordered">
          <div class="form-group">
            <label><b>Class Name<span style="color: orangered">*</span></b></label>
            <input type="hidden" formControlName="id" >
            <input type="text" 
            class="form-control" 
            formControlName="name" 
            [ngClass]="((Classform.controls.name.invalid && Classform.controls.name.touched)||Classform.controls.name.darty==true 
            ?'is-invalid':'')">
            <div *ngIf="((Classform.controls.name.invalid && Classform.controls.name.touched)||Classform.controls.name.darty)">
              <div class="alert"
                   *ngIf="Classform.controls.name.errors.required">
                      Name field is Mandatory
              </div>
              <div class="alert"
                   *ngIf="Classform.controls.name.errors.minlength">
                      Minimun length is three
              </div>
              <div class="alert"
                   *ngIf="Classform.controls.name.errors.email">
                      Enter a valid email
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="Classform.invalid">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>